*.synctex.gz
*.out
*.log
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.aux
*.toc

# Ignore dataset images
data/**/*.jpg
data/**/*.jpeg
data/**/*.png

# Ignore dataset folders
data/training_set/
data/testing_set/
data/validation_set/
